<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 class="standout"><%= "Forgot Password" %></h2>

      <div class="card card-session">
        <div class="card-body">
          <%= simple_form_for :forgot_password, url: "/passwords" do |f| %>
            <%= f.input :email, placeholder: t("passwords.email_placeholder"), label: false, autofocus: true %>
            <%= content_tag(:p, t("passwords.reset_request_failed"), class: "session-error") if @reset_request_failed %>
            <div class="actions">
              <%= f.submit t("passwords.send_reset_email"), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

