<p class="info-line"><span class="label"><%= @about_object.class.human_attribute_name(:id) %></span><span class="text-muted"><%= @about_object.id %></span></p>
<% if @about_object.respond_to?(:audits) %>
<h5><%= t("dash.audits.modal.recent_history") %></h5>
<ul class="dash-list dash-list-lines">
  <% @about_object.audits.reorder("audits.version DESC").includes(:user).limit(5).each do |audit| %>
  <li>
    <div class="list-icon">
      <%= content_tag(:i, "", class: "fas fa-#{audit_action_icon(audit.action)}") %>
    </div>
    <div class="list-body">
      <%= audit_summary(audit) %> <span class="subtitle"><%= l(audit.created_at.to_date) %> <%= t("dash.audits.modal.by_user", name: (audit.username || audit.user&.name)) if audit.user %></span>
    </div>
  </li>
  <% end %>
</ul>
<% else %>
<p class="info-line"><span class="label"><%= t("dash.audits.modal.created") %></span><span class="text-muted"><%= l(@about_object.created_at.to_date) %> <%= t("dash.audits.modal.by_user", name: @about_object.created_by&.name) if @about_object.respond_to?(:created_by) %></span></p>
<p class="info-line"><span class="label"><%= t("dash.audits.modal.updated") %></span><span class="text-muted"><%= l(@about_object.updated_at.to_date) %> <%= t("dash.audits.modal.by_user", name: @about_object.updated_by&.name) if @about_object.respond_to?(:updated_by) %></span></p>
<% end %>