<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 class="standout"><%= t("dash.sessions.page_title") %></h2>
      <p class="text-center"><%= t("dash.sessions.no_account")%> <%= link_to t("dash.sessions.sign_up"), main_app.signup_path, class: "link-highlight" %></p>
      <div class="card card-session">
        <div class="card-body">
          <%= simple_form_for :session, url: "/signin" do |f| %>
            <%= f.input :email, placeholder: t("dash.sessions.email_or_username_placeholder"), label: false, autofocus: true %>
            <%= f.input :password, placeholder: t("dash.sessions.password_placeholder"), label: false %>
            <%= content_tag(:p, @signin_response.error, class: "session-error") if @signin_response %>
            <%= link_to t("dash.sessions.forgot_password"), new_password_path, class: "forgot-password" %>
            <div class="actions">
              <%= f.submit t("dash.sessions.sign_in"), class: "btn btn-primary", data: {disable_with: t("dash.sessions.disable.sign_in")} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

