<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 class="standout"><%= "Sign in to myAdventist" %></h2>
      <p class="text-center">Don't have a myAdventist account? <%= link_to 'Sign up', main_app.signup_path, class: "link-highlight" %></p>
      <div class="card card-session">
        <div class="card-body">
          <%= simple_form_for :session, url: '/signin' do |f| %>
            <%= f.input :email, placeholder: t("sessions.email_or_username_placeholder"), label: false, autofocus: true %>
            <%= f.input :password, placeholder: t("sessions.password_placeholder"), label: false %>
            <%= content_tag(:p, t("sessions.sign_in_failed"), class: "session-error") if @signin_failed %>
            <%= link_to t("sessions.forgot_password"), new_password_path, class: "forgot-password" %>
            <div class="actions">
              <%= f.submit t("sessions.sign_in"), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

