<%= content_tag_for(:tr, asset, class: "asset-document") do %>
  <td><%= asset.content_type.split('/').last.upcase %>: <%= asset.name %></td>
  <td><%= l(asset.created_at.to_date) %></td>
  <td>
    <%= link_to "Add", "#", class: "chooser-file-insert btn btn-secondary btn-sm", data: asset.chooser_data %>
    <%= row_actions do %>
      <%#= row_edit_link edit_dashboard_site_chooser_path(@site, asset), class: "dropdown-item", data: {callback: "updateDocumentItem"} %>
    <% end %>
  </td>
<% end %>