<%= content_tag_for(:div, asset, class: "uploaded-item") do %>
  <div class="preview">
    <div class="title"><%= image_tag(asset.url(:thumb), class: "preview-img") if asset.is_a?(Image) %> <%= asset.name %></div>
    <div class="actions">
      <%= link_to content_tag(:i, "", class: "fas fa-plus"), "#", class: "chooser-file-insert icon-link btn-icon", data: asset.chooser_data %>
      <%= link_to content_tag(:i, "", class: "fas fa-pencil-alt"), "#", class: "btn-icon", data: {toggler: "##{dom_id(asset)} .asset-form"} %>
      <%= link_to content_tag(:i, "", class: "fas fa-trash"), chooser_path(asset.id), method: :delete, remote: true, class: "btn-icon" %>
    </div>
  </div>
  <div class="asset-form" style="display:none;">
    <div class="card mt-4">
      <div class="card-body">
        <%= simple_form_for asset, url: chooser_path(asset.id), as: :asset, remote: true, method: :patch, html: {class: "compact"} do |f| %>
          <%= hidden_field_tag :inline, 1 %>
          <%= f.input :name %>
          <%= f.input :summary %>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :credit %>
            </div>
            <div class="col-md-6">
              <%= f.input :credit_url %>
            </div>
          </div>
          <%= f.input :published_on, as: :pick_date %>
          <%= f.input :tag_list %>
          <div class="form-footer">
            <%= f.submit t("dash.btn.save"), class: "btn btn-primary", data: { disable_with: t("dash.btn.disable.saving")} %>
            <%= link_to t("dash.btn.cancel"), "#", class: "btn btn-secondary", data: {toggler: "##{dom_id(asset)} .asset-form"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>