<%= render "/dash/chooser/nav", menu: :stock_images %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <%= link_to "Unsplash", "#", class: "nav-link active" %>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="table-search table-search-full-width active">
            <%= form_with url: url_for, method: :get, local: true do |f| %>
              <div class="wrapper">
                <%= button_tag(content_tag(:i, "", class: "fa fa-search"), class: "search-btn") %>
                <%= f.text_field(:q, value: params[:q], placeholder: ("dash.search"), class: "search-input", autocomplete: "off") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="colnav-wrapper">
        <div class="colnav-scroller">
          <div class="colnav-item">
            <div class="colnav-img">
              <%= link_to t("dash.all"), url_for %>
            </div>
          </div>
          <% @collections.each do |collection| %>
          <div class="colnav-item">
            <div class="colnav-img" style="background-image: url('<%=collection["cover_photo"]["urls"]["small"]%>');">
              <%= link_to collection["title"], url_for(collection: collection["id"]) %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div id="asset-image-list">
        <% @assets.each do |asset| %>
        <div class="asset-image">
          <%= link_to "#", class: "unsplash-file-insert icon-link", data: {id: asset.external_id, callback_url: url_for(action: "unsplash_download")} do  %>
            <div class="img-choose">
              <%= image_tag(asset.media.url(:small), class: "img-responsive") %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <%= table_paginate @assets, change_rows: false %>
    </div>
  </div>
</div>