<p>Hi <%= @user.first_name %>,</p>

<p>You've received a new notification on <%= Dash.site_name %>.</p>

<p><strong><%= @notification.title %></strong></p>
<p><%= @notification.summary %></p>
<% if @notification.url.present? %>
<p><%= link_to "View", @notification.url %></p>
<% end %>