<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <%= meta_and_favicon_links %>
  <%= stylesheet_link_tag :sessions, :media => "all", "data-turbolinks-track": "reload" %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic|Poppins:500" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css") %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= javascript_include_tag :sessions, "data-turbolinks-track": "reload" %>
  <%= csrf_meta_tags %>
</head>
<body class="layout-session">
  <div class="page-wrapper">
    <%= render "/dash/nav/simple_nav" %>
    <%= yield %>
  </div>
  <%= snackbar_messages %>
  <div class="page-footer">
    <div class="footer-wrapper">
      <div class="pf-left">
      </div>
      <div class="pf-right">
        <%= link_to t("text.support"), dashboard_support_path, class: "footer-link" %>
        <%= link_to t("legal.privacy"), privacy_legal_path, class: "footer-link" %> <%= link_to t("legal.terms"), terms_legal_path, class: "footer-link" %>
      </div>
    </div>
  </div>
</body>
</html>