<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="standout"><%= t("dash.signups.page_title") %></h2>
      <p class="text-center"><%= t("dash.signups.account_exists") %> <%= link_to t("dash.sesions.sign_in"), main_app.signin_path, class: "link-highlight" %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-session">
        <div class="card-body">
          <% if @myadventist_user.errors[:base].any? %>
            <p class="session-error"><%= @myadventist_user.errors[:base].join(', ') %></p>
          <% end %>
          <%= simple_form_for @myadventist_user, url: '/signup' do |f| %>
            <%= f.input :first_name, placeholder: t("dash.sessions.first_name_placeholder"), label: false, autofocus: true %>
            <%= f.input :last_name, placeholder: t("dash.sessions.last_name_placeholder"), label: false, autofocus: true %>
            <%= f.input :email, placeholder: t("dash.sessions.email_placeholder"), label: false %>
            <%= f.input :password, placeholder: t("dash.sessions.password_placeholder"), label: false %>
            <p><%= t("dash.signups.terms_agreement_html", link: link_to(t("dash.signups.terms_of_use"), "/legal/terms", class: "link-highlight")) %></p>
            <div class="actions">
              <%= f.submit t("dash.sessions.sign_up"), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>